/* style.css */

body{
    background-color:cornsilk;
    margin: 2rem auto;
    max-width: 1000px;
    }

header {
    font-family: 'Pacifico' , cursive;
    text-align: center;

}


main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.5rem;
}

main .generalInfo {
    text-align: center;
    
    grid-column: auto / span 4;
}

.images {
    grid-column: auto / span 3;
}

nav {
    grid-column: auto / span 2;
    text-decoration: none;
    background-color:blanchedalmond;
    color: #666 !important;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items:left;
}
