/* style.css */

body{
    background-color:blanchedalmond;
    margin: 2rem auto;
    max-width: 1000px;
    }

header {
    text-align: center;
}

nav {
    text-decoration: none;
    color: #666;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.5rem;
}

main .generalInfo {
    text-align: center;
    
    grid-column: auto / span 4;
}

.images {
    grid-column: auto / span 3;
}