/* style.css */

body{
    background-color:cornsilk;
    margin: 2rem auto;
    max-width: 1000px;
    }

header {
    font-family: 'Pacifico' , cursive;
    text-align: center;

}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: center;
}

main .generalInfo {
    text-align: left;
    grid-column: auto / span 1;
}

main .generalInfo a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0.5rem;
}


.images {
    grid-column: auto / span 1;
}

nav {
    grid-column: auto / span 1;
    background-color:blanchedalmond;
    color: #666 !important;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items:left;
}


nav a {
    text-decoration: none;

}
